.section
    display: flex
    align-items: center
    flex-direction: column
    margin: 3rem auto
    max-width: 1170px

    &__center
        width: 80vw
        height: 55vh
        position: relative
        display: flex
        text-align: center
        justify-content: center
        overflow: hidden

    &__pagination
        display: flex
        align-items: center
        justify-content: center

    &__button
        font-size: 0.9rem

        &_active
            background-color: rgb(157, 157, 157)
